@import "variables";

.header-main-container {
  padding: $default-padding;
}

.menu-items {
  li {
    display: inline-block;
    *display: inline; /*IE7*/
    margin-right: 10px;
  }
}

.quote-container {
  padding: $inside-default-padding;
  background: $background-light;
}

.about-details-container {
  padding: $inside-default-padding;
  background: lightgrey;
}

.more-articles {
  padding: $default-padding;
  background: mintcream;
}

.background-tag {
  background: $background-tag;
}

.footer-container {
  padding: $default-padding;
  background: $background-light;
}